@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 1.7rem;
	font-family: 'Merriweather Sans', sans-serif;
	background: #2c3e50;
	color: #ececec;
	padding: 4rem;
}

h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.websites{
	display: flex;
	align-items: center;
	justify-content: center;
}

.website{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 400px;
	height: 450px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.website .website-title, .website .website-price{
	font-size: 18px;
}

.website:hover img{
	scale:  1.1;
}

.website:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.website img {
	height: 280px;
	margin: 1rem;
	transition: all 0.3s;
}

.website a:link, .website a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.website a:hover{
	transform: scale(1.1);
}